{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <!-- Container -->
    <div id="user_password_reset_confirm" class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h3><a href="/"><img src="{% static 'main/InnitTM4.png'%}" class="img-responsive center-block"></a></h3>
                <h2>Change Password</h2>
            </div>
        </div>
        {% if validlink %}
            <form method="post">
             {% csrf_token %}
             {% for field in form %}
                 <div class="row text-center">
                     <div class="col-xs-6 text-right"><b>{{ field.label_tag }}</b></div><div class="col-xs-6 text-left">{{ field }}</div>
                 </div>
                 <div class="col-xs-12">
                     {% for error in field.errors %}
                         <p style="color: red">{{ error }}</p>
                     {% endfor %}
                 </div>
             {% endfor %}
             <div class="row text-center">
                 <div class="col-xs-12">
                     <br>
                     <button type="submit">Save</button>
                 </div>
             </div>
            </form>
        {% else %}
            <div class="row text-center"><div class="col-xs-12">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</div></div>
        {% endif %}
    </div>
{% endblock %}
