{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <!-- Container - User login -->
    <div id="password_reset" class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h3><a href="/"><img src="{% static 'main/InnitTM4.png'%}" class="img-responsive center-block"></a></h3>
                <h2>Forgot Password</h2>
            </div>
        </div>
        <br>
        <div class="row text-center"><div class="col-xs-12">Forgotten your password? Enter the email address you used to register with INNIT, and we'll email instructions for setting a new one.</div></div>
        <br>
        <div class="row text-center">
            <div class="col-xs-12">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
