{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <!-- Container -->
    {% autoescape off %}
    <div id="user_password_reset_email" class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h3><a href="/"><img src="{% static 'main/InnitTM4.png'%}" class="img-responsive center-block"></a></h3>
                <h2>Initiate Password Reset</h2>
            </div>
        </div>
        <div class="row text-center"><div class="col-xs-12">You've requested to reset the password for your account at www.innitlife.com. To initiate the password reset process for your '{{user.get_username}}' INNIT account, click the link below:</div></div>
        <br>
        <div class="row text-center"><div class="col-xs-12">{{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}</div></div>
        <br>
        <div class="row text-center"><div class="col-xs-12">If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</div></div>
        <br>
        <div class="row text-center"><div class="col-xs-12">Sincerely,<br>The INNIT Team</div></div>
    </div>
    {% endautoescape %}
{% endblock %}