{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <!-- Container -->
    <div id="user_password_reset_submitted" class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h3><a href="/"><img src="{% static 'main/InnitTM4.png'%}" class="img-responsive center-block"></a></h3>
                <h2>Password Reset Submitted</h2>
            </div>
        </div>
        <div class="row text-center"><div class="col-xs-12">We've emailed you instructions for setting your password. If an INNIT account exists with the email you entered, you should receive one shortly.</div></div>
        <br>
        <div class="row text-center"><div class="col-xs-12">If you don't receive an email, please make sure you've entered the address you registered with, and <font color="red"><b>check your spam folder!</b></font></div></div>
    </div>
    </div>
{% endblock %}