{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <!-- Container - User login -->
    <div id="change-password" class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h3><a href="/"><img src="{% static 'main/Innit.png'%}" class="img-responsive center-block"></a></h3>
                <h2>Change Password</h2>
                {% if error_message != "" %}
                    <p class="bg-danger"><b>{{error_message}}</b></p>
                {% endif %}
                {% if success_message != "" %}
                    <p class="bg-success"><b>{{success_message}}</b></p>
                {% endif %}
            </div>
        </div>
        <!-- Don't display form if user succeeded on their last change attempt -->
        {% if success_message == "" %}
              <form method="post">
              {% csrf_token %}
                  <div class="row text-center">
                      <div class="col-xs-6 text-right"><b>{{ form.username.label_tag }}</b></div><div class="col-xs-6 text-left">{{ form.username }}</div>
                  </div>
              {% for field in form %}
                  {% if field.name != 'username' %}
                      <div class="row text-center">
                          <div class="col-xs-6 text-right"><b>{{ field.label_tag }}</b></div><div class="col-xs-6 text-left">{{ field }}</div>
                      </div>
                      <div class="col-xs-12">
                          {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                          {% endfor %}
                      </div>
                  {% endif %}
              {% endfor %}
              <div class="row text-center">
                  <div class="col-xs-12">
                      {% if error_message != "" %}
                          {% for error in validation_errors %}
                              <p style="color: red">{{ error }}</p>
                          {% endfor %}
                      {% endif %}
                      <br>
                      <button type="submit">Save</button>
                      </form>
                  </div>
              </div>
        {% endif %}          
    </div>
{% endblock %}
