{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div id="contact" class="container">
        <h3 class="text-center">Email Testing</h3>
        
        <!-- Top-level image -->
        {% if top_photo %}
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <!-- Menu -->
                
                <!-- ***Uncomment to add menu indicator
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                </ol>
                -->
                
                <!-- Items -->
                <div class="carousel-inner">
                    <div class="item active inactiveUntilOnLoad">
                        <img src="{{top_photo.image.url}}" alt="Slide 1" />
                    </div>
                    <!--  ***Just add more slides like this:
                    <div class="item">
                        <img src="{{top_photo.image.url}}" alt="Slide 2" />
                    </div> 
                    -->
                </div> 
                <!-- ***Uncomment to add navigation glyphs
                <a href="#carousel" class="left carousel-control" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#carousel" class="right carousel-control" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                -->
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <form action="/email" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="From Email" type="email" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="toemail" name="toemail" placeholder="To Email" type="email" required>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
                    <br>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button class="btn pull-right" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}