{% extends 'baseedu.html' %}

{% block content %}
    {% load static %}
    <!-- Container - User Profile -->
    <div id="login" class="container">

        <!-- Login and Logo -->
        <div class="row text-center">
            <div class="col-xs-12">
                {% if user.is_authenticated %}
                <p><b><a href="/user/{{user.id}}">{{user.first_name}} {{user.last_name}} ({{user.username}})</a> | <a href="/logout/">Logout</a></b></p>
                {% else %}
                <p><b><a href="/login/">Login</a> | <a href="/signup/">Register</a></b></p>
                {% endif %}
                <h3><a href="/edu"><img src="{% static 'main/Edu.png'%}" class="img-responsive center-block"></a></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12">
                <p class="bg-danger"><b>{{error_message}}</b></p>
            </div>
        </div>
        
        <!-- If the user desired to edit their profile, then display the relevant forms -->
        {% if command == "edit" %}
            <div class="row">
               <div class="col-xs-6 text-right"><b>Username:</b></div><div class="col-xs-6 text-left">{{ current_user.username }}</div>
            </div>
            <form action="/user/{{current_user.id}}" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             {% for field in uform %}
                 <div class="row text-center">
                     <div class="col-xs-6 text-right"><b>{{ field.label_tag }}</b></div><div class="col-xs-6 text-left">{{ field }}</div>
                 </div>
                 <div class="col-xs-12">
                     {% for error in field.errors %}
                         <p style="color: red">{{ error }}</p>
                     {% endfor %}
                 </div>
             {% endfor %}
             {% for field in pform %}
                 <div class="row text-center">
                     <div class="col-xs-6 text-right"><b>{% if field.name == 'phone_number' %}Phone Number (Optional):{% else %}{{ field.label_tag }}{% endif %}</b></div><div class="col-xs-6 text-left">{{ field }}</div>
                 </div>
                 <div class="col-xs-12">
                     {% for error in field.errors %}
                         <p style="color: red">{{ error }}</p>
                     {% endfor %}
                 </div>
             {% endfor %}
             <div class="row text-center">
                 <div class="col-xs-12">
                     <br>
                     <button type="submit">Save</button>
                 </div>
             </div>
            </form>
        {% else %}
            <!-- Otherwise, display all of the normal info -->
            <div class="row text-center"><div class="col-xs-12 text-center"><small><a href="/logout/">Logout</a></small></div></div>
            {% if can_disconnect %}
                <div class="row text-center"><div class="col-xs-12 text-center"><small><a href="/changepassword/">Change Password</a></small></div></div>
            {% else %}
                <div class="row text-center"><div class="col-xs-12 text-center"><small><a href="/setpassword">Set Password</a></small></div></div>
            {% endif %}
            <br>
            {% if profile %}
                {% if profile.profile_image %}
                    <div class="row text-center"><div class="col-xs-12 text-center"><img src="{{profile.profile_image.url}}" class="img-thumbnail center-block"></div></div>
                    <br>
                {% endif %}
            {% endif %}
            <div class="row">
               <div class="col-xs-6 text-right"><b>Username:</b></div><div class="col-xs-6 text-left">{{ current_user.username }}</div>
            </div>
            <div class="row">
               <div class="col-xs-6 text-right"><b>Email Address:</b></div><div class="col-xs-6 text-left">{{ current_user.email }}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-right"><b>Current Status:</b></div>
                <div class="col-xs-6 text-left">
                    {% if admin %}
                        <a href="/edu/administrator/{{admin.id}}">Administrator</a>
                    {% elif teacher %}
                        <a href="/edu/teacher/{{teacher.id}}">Teacher</a>
                    {% elif student %}
                        <a href="/edu/student/{{student.id}}">Student</a>
                    {% else %}
                        Awaiting Registration
                    {% endif %}
                </div>
            </div>
            {% if profile %}
                {% if profile.phone_number %}
                    <div class="row">
                       <div class="col-xs-6 text-right"><b>Phone Number:</b></div><div class="col-xs-6 text-left">{{ profile.phone_number }}</div>
                    </div>
                {% endif %}
            {% endif %}
            
            <!-- Display a button to edit this user -->
            <div class="row text-center">
                <div class="col-xs-12 text-center">
                    <br>
                    <form action="/user/{{current_user.id}}/edit">
                        <input type="submit" value="Edit Info" />
                    </form>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}
