<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme The Band</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="{% static 'main.css'%}">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<!-- confirmation.html -->
<h1>Are you sure you want to buy this thing?</h1>
<form method="post" action="">
  {{ form }}
  <input type="submit" value="Yes I Yams">
</form>
</body>

</html>
