{% extends 'baseedu.html' %}

{% block content %}
    {% load static %}
    <!-- Container - All courses listing -->
    <div id="allcourses" class="container">

        <!-- Login and Logo -->
        <div class="row text-center">
            <div class="col-xs-12">
                {% if user.is_authenticated %}
                <p><b><a href="/user/{{user.id}}">{{user.first_name}} {{user.last_name}} ({{user.username}})</a> | <a href="/logout/">Logout</a></b></p>
                {% else %}
                <p><b><a href="/login/">Login</a> | <a href="/signup/">Register</a></b></p>
                {% endif %}
                <h3><a href="/edu"><img src="{% static 'main/Edu.png'%}" class="img-responsive center-block"></a></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12">
                <p class="bg-danger"><b>{{error_message}}</b></p>
            </div>
        </div>

        <!-- Active courses -->
        <div class="row text-center">
            <div class="col-xs-12">
               <h3>Active Courses</h3>
               <table class="table text-center">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Grade</th>
                    <th>Teacher</th>
                  </tr>
                </thead>
                <tbody>
                {% for course in active_courses %}
                  <tr>
                    <td><a href="/edu/course/{{course.id}}" class="text-center" style="color:black"><b>{{course.title}}</b></a></td>
                    <td>{{course.year}}</td>
                    <td>{{course.grade}}</td>
                    <td><a href="/edu/teacher/{{course.teacher.id}}" class="text-center" style="color:black">{{course.teacher.first_name}} {{course.teacher.last_name}}</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>

        <!--Only display an Edit button if this is an administrator -->
        {% if admin %}
            <br>
            <form action="/edu/course/create">
                <div class="row"><div class="col-xs-12 text-center"><input type="submit" value="Register a New Course"/></div></div>
            </form>
            <br>
        {% endif %}

        <!-- Past courses -->
        <div class="row text-center">
            <div class="col-xs-12">
               <h3>Past Courses</h3>
               <table class="table text-center">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Grade</th>
                    <th>Teacher</th>
                  </tr>
                </thead>
                <tbody>
                {% for course in past_courses %}
                  <tr>
                    <td><a href="/edu/course/{{course.id}}" class="text-center" style="color:black"><b>{{course.title}}</b></a></td>
                    <td>{{course.year}}</td>
                    <td>{{course.grade}}</td>
                    <td><a href="/edu/teacher/{{course.teacher.id}}" class="text-center" style="color:black">{{course.teacher.first_name}} {{course.teacher.last_name}}</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
{% endblock %}
