{% extends 'baseedu.html' %}

{% block content %}
    {% load static %}
    <!-- Container - All Tutoring Sessions -->
    <div id="allsessions" class="container">

        <!-- Login and Logo -->
        <div class="row text-center">
            <div class="col-xs-12">
                {% if user.is_authenticated %}
                <p><b><a href="/user/{{user.id}}">{{user.first_name}} {{user.last_name}} ({{user.username}})</a> | <a href="/logout/">Logout</a></b></p>
                {% else %}
                <p><b><a href="/login/">Login</a> | <a href="/signup/">Register</a></b></p>
                {% endif %}
                <h3><a href="/edu"><img src="{% static 'main/Edu.png'%}" class="img-responsive center-block"></a></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12">
                <p class="bg-danger"><b>{{error_message}}</b></p>
            </div>
        </div>

        <!--Only students can create problems -->
        {% if student %}
            <br>
            <form action="/edu/sessionwaiting">
                <div class="row"><div class="col-xs-12 text-center"><input type="submit" value="Start or Join a Tutoring Session"/></div></div>
            </form>
        {% endif %}

        <!-- Approved Tutoring Sessions -->
        <div class="row text-center">
            <div class="col-xs-12">
               <h3>Approved Tutoring Sessions</h3>
               <table class="table text-center">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tutor</th>
                    <th>Tutor Grade</th>
                    <th>Tutee</th>
                    <th>Tutee Grade</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Duration (s)</th>
                    <th>Assessed By</th>
                  </tr>
                </thead>
                <tbody>
                {% for session in approved_sessions %}
                  <tr>
                    <td><a href="/edu/sessionreview/{{session.id}}" class="text-center" style="color:black"><b>{{session.id}}</b></a></td>
                    <td>{{session.tutor.first_name}} {{session.tutor.last_name}}</td>
                    <td>{{session.tutor_grade}}</td>
                    <td>{{session.tutee.first_name}} {{session.tutee.last_name}}</td>
                    <td>{{session.tutee_grade}}</td>
                    <td>{{session.start}}</td>
                    <td>{{session.end}}</td>
                    <td>{{session.duration_seconds}}</td>
                    <td>{{session.approver.first_name}} {{session.approver.last_name}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>

        <!-- Assigned Tutoring Sessions -->
        <div class="row text-center">
            <div class="col-xs-12">
               <h3>Assigned Tutoring Sessions</h3>
               <table class="table text-center">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tutor</th>
                    <th>Tutor Grade</th>
                    <th>Tutee</th>
                    <th>Tutee Grade</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Duration (s)</th>
                    <th>Assigned To</th>
                  </tr>
                </thead>
                <tbody>
                {% for session in assigned_sessions %}
                  <tr>
                    <td><a href="/edu/sessionreview/{{session.id}}" class="text-center" style="color:black"><b>{{session.id}}</b></a></td>
                    <td>{{session.tutor.first_name}} {{session.tutor.last_name}}</td>
                    <td>{{session.tutor_grade}}</td>
                    <td>{{session.tutee.first_name}} {{session.tutee.last_name}}</td>
                    <td>{{session.tutee_grade}}</td>
                    <td>{{session.start}}</td>
                    <td>{{session.end}}</td>
                    <td>{{session.duration_seconds}}</td>
                    <td>{{session.approver.first_name}} {{session.approver.last_name}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>

        <!-- Unassigned Tutoring Sessions -->
        <div class="row text-center">
            <div class="col-xs-12">
               <h3>Unassigned Tutoring Sessions</h3>
               <table class="table text-center">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tutor</th>
                    <th>Tutor Grade</th>
                    <th>Tutee</th>
                    <th>Tutee Grade</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Duration (s)</th>
                  </tr>
                </thead>
                <tbody>
                {% for session in unassigned_sessions %}
                  <tr>
                    <td><a href="/edu/sessionreview/{{session.id}}" class="text-center" style="color:black"><b>{{session.id}}</b></a></td>
                    <td>{{session.tutor.first_name}} {{session.tutor.last_name}}</td>
                    <td>{{session.tutor_grade}}</td>
                    <td>{{session.tutee.first_name}} {{session.tutee.last_name}}</td>
                    <td>{{session.tutee_grade}}</td>
                    <td>{{session.start}}</td>
                    <td>{{session.end}}</td>
                    <td>{{session.duration_seconds}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>

    </div>
{% endblock %}
